body: {

	display:flex;
	justify-content: center;


}



nav {
	
	
	width:1025px;
	height: 50px;
	margin-top: 40px;
	margin-left: 40px;
	border: solid 2px black;
	background-color: #ffb4b0;
	list-style:none;



}
li {
		
		display: inline-block;
}


.main-container {
	max-height: 800px;
	max-width: 1119px;
	display: flex;


}


.sidebar {
	border: solid 2px black;
	background-color: #4DD7FA;
	max-width: 200px;
	margin-top: 25px;
	margin-left: 40px;

}


.favorites {

	border: solid 2px black;
	background-color: #FEFAC0;
	height: 600px;
	width:  800px;
	margin-top: 25px;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}


.favSongName {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	margin-left: 100px;

	

}

#fav1 {
	margin-top: 50px;
}












